body {
    background-color: rgb(77, 77, 77);
}

#sectionContainer {
    outline: thick double #32a1ce;
    position: relative;
    background-color: rgb(53, 53, 53);
    width: 60%;
    margin: auto;
}

#sectionBlock {
    width: 75%;
    display: block;
    margin: auto;
}

.pokemonTable {
    /* width: 100%; */
    align-self: "center";
    margin: auto;
}

.pokemonSprite {
    width: 84px;
    height: auto;
}
.evolutionArrow {
    min-width: 60px;
}

svg {
    display: block;
    margin: auto;
}